<div id="response-div">

    <div class="docs-section">
        <h6 class="docs-header">CONTACT SUCCESS Lorem ipsum dolor sit amet.</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur cumque
            dolor ducimus eius eveniet ex facilis incidunt itaque, magnam maiores nam necessitatibus
            odit possimus repudiandae voluptas.
        </p>
    </div>
</div>