<div id="response-div">

    <div class="docs-section">
        <h6 class="docs-header">Features</h6>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur cumque
            dolor ducimus eius eveniet ex facilis incidunt itaque, magnam maiores nam necessitatibus
            odit possimus repudiandae voluptas.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium est facilis maxime omnis quis tempore temporibus!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aperiam corporis cum eius facere mollitia
            nam odio officiis, quis reiciendis unde velit? Consequuntur cumque illum minima omnis quod sit tempora.
        </p>
    </div>
</div>