<!-- Header -->
<section class="header">
    <h1>Single-Page Application with HTMX</h1>
    <a class="button button-primary" href="https://github.com/DevKyky/SPA-HTMX/archive/refs/heads/main.zip">Télécharger ce projet</a>
</section>
<div class="value-props">&nbsp;</div>

<!-- Navbar -->
<div class="navbar-spacer"></div>
<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">

            <li class="navbar-item">
                <a href="{{ path('spa_main') }}" class="navbar-link">Home</a>
            </li>

            <li class="navbar-item">
                <a href="#" class="navbar-link">Features</a>
            </li>

            <li class="navbar-item">
                <a href="#" class="navbar-link">Contact</a>
            </li>
        </ul>
    </div>
</nav>